.score-viewer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.score-viewer-container canvas {
  max-width: 100%;
  height: auto;
}



